
<template>
  <div class="home">
    <h1>Home</h1>
    <p ref="p">Myname is {{ninjaOne.name}} and age {{ninjaOne.age}} </p>
    <button @click="ninjaOneUpdated">update ninja1</button>
    <input type="text" v-model="ninjaOne.age">
     <button @click="ninjaTwoUpdated">update ninja2</button>
     <button @click="hundleClick">stop watching</button>
<p> search term - {{search}} </p>

     <input type="text" v-model="search">

    <h2>Reactive</h2>
    <p>{{ninjaTwo.name}} - {{ninjaTwo.age}}</p>
    <div v-for="name in matchNames" :key="name">
      {{name}}
    </div>
  </div>
</template>

<script>
import { reactive, ref, computed } from '@vue/reactivity'
import { watch, watchEffect } from '@vue/runtime-core'
export default {
  name: 'Home',
  setup () {
    const ninjaOne = ref({ name: 'mario', age: 35 })
    const ninjaTwo = reactive({ name: 'nshimiye', age: 20 })
    const ninjaOneUpdated = () => {
      ninjaOne.value.age = 50
    }
    // this search model will store & will updated by returned result to search names
    const search = ref('')
    const allNames = ref(['uwiduhaye', 'yasenta', 'dukuzumuremyi', 'deodonne', 'Nyirabarangirana'])

    const matchNames = computed(() => {
      return allNames.value.filter((name) => name.includes(search.value))
    })

    // watch function run every time
    const stopWatch = watch(search, () => {
      console.log('watch function ran')
    })

    const stopWatchEffect = watchEffect(() => {
      console.log('watchEffect ran', search.value)
    })

    const ninjaTwoUpdated = () => {
      ninjaTwo.name = 'John Doe'
    } // if you click on this function with button above to watch will stop u not see watch messages in console anymore
    const hundleClick = () => {
      stopWatch()
      stopWatchEffect()
    }

    return {
      ninjaOne,
      ninjaOneUpdated,
      ninjaTwo,
      ninjaTwoUpdated,
      allNames,
      search,
      matchNames,
      hundleClick
    }
  }
}
</script>
